.message
  .message__upper-info
    %p.message__upper-info__talker
      = message.user.name
    %p.message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.message__text
    - if message.message.present?
      = message.message
    = image_tag message.image.url if message.image.present?
