$skyBlueColor: #38aef0;
$sideCharWhiteColor: white;
$sideBackgroundNavyBlueColor: #253141;
$mainContentsCharGrayColor: #999999;
$mainHeaderCharBlackColor: #333;
$mainBorderGrayColor: #eee;
$messageBackgroundGrayColor: #fafafa;
$messageCharBlackColor: #434a54;
$formBackgroundGrayColor: #ddd;
$alertOrangeColor: #F35500;
