.chat-side
  .side-header
    .side-header__box
      = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__create-group
          = link_to new_group_path do
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .groups
    = render 'groups/group'
