.groups {
  @include boxBase(calc(100vh - 100px), 20px 20px 0);
  background-color: $sideBackgroundNavyBlueColor;
  overflow: scroll;

  .group {
    margin-bottom: 40px;

    &__group-name {
      @include characterDecoration(15px);
      margin-bottom: 5px;
    }

    &__latest-message {
      @include characterDecoration(11px);
    }
  }
}
